<mat-toolbar color="primary">

  <span class="logo">SkillSwap</span>
  <span class="spacer"></span>

  <a mat-button routerLink="/users" routerLinkActive="active-link">Users</a>
  <a mat-button routerLink="/users/create" routerLinkActive="active-link">Add User</a>
  <a mat-button routerLink="/skills" routerLinkActive="active-link">Skills</a>
  <a mat-button routerLink="/skills/create" routerLinkActive="active-link">Add Skill</a>
  <a mat-button routerLink="/sessions" routerLinkActive="active-link">Sessions</a>
  <a mat-button routerLink="/sessions/create" routerLinkActive="active-link">Add Session</a>
</mat-toolbar>

<router-outlet></router-outlet>
