<nav style="margin-bottom: 20px;">
    <a routerLink="/users" routerLinkActive="active" style="margin-right: 10px;">Users</a>
    <a routerLink="/users/create" routerLinkActive="active" style="margin-right: 10px;">Add User</a>
    <a routerLink="/skills" routerLinkActive="active" style="margin-right: 10px;">Skills</a>
    <a routerLink="/skills/create" routerLinkActive="active" style="margin-right: 10px;">Add Skill</a>
    <a routerLink="/sessions" routerLinkActive="active" style="margin-right: 10px;">Sessions</a>
    <a routerLink="/sessions/create" routerLinkActive="active" style="margin-right: 10px;">Add Session</a>
  </nav>
  
  <router-outlet></router-outlet>
  
  